@model IEnumerable<Acme.Models.Product>

@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Home</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <h2>Home</h2>
        <br />
        <p>Testing</p>
        <br />
        <a href="~/Product/index">Products</a>
        <br />
        <a href="~/Shopping/index/costumes">Shopping - Costumes</a>
        <br />
        <a href="~/Shopping/index/fx">Shopping - Special Effects</a>
        <br />
        <a href="~/Shopping/index/masks">Shopping - Masks</a>
        <br />
        <a href="~/Shopping/index/props">Shopping - Props</a>
        <br />
        <br />

        <a href="~/Shopping/cart">My Cart</a>
        <br />
        <a href="~/customer/update">My Profile</a>
        <br />
        <br />

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    </body>
</html>


